@{
    ViewBag.Title = "Доставка суши в Томске. Доставка еды в Томске. Азия фуд. Bar-do.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="col-main">
        <div class="std">
            <div class="clear"></div>
        </div>
        <div class="page-title">
            <h2 class="subtitle">New Products</h2>
        </div>
        <ul class="products-grid">
            <li class="item first">
                <a href="@Url.Content("~/Files/new52.jpg")" title="Мицукайдо" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new52.jpg")" width="201" height="201" alt="Dolor">
                </a>
                <h3 class="product-name">Мицукайдо</h3>
                <div class="description">
                    Набор на 4-5 персон состоит из 8 роллов: "Филадельфия лайт с тобико","Филадельфия лайт со снежным крабом","Цезарь", "Лава кусо", "Фудзюки", "Сяке маки", "Каппа маки", "Фикими"
                </div>
                <div class="weight">вес: 1435 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-102-new">
                                        <span class="price">1099Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/102/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/102/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/102/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/new04.jpg")" title="Анзю" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new04.jpg")" width="201" height="201" alt="Анзю">
                </a>
                <h3 class="product-name">Анзю</h3>
                <div class="description">
                    лосось х/к, сыр, майонез, лук зелёный, соус «Лава»
                </div>
                <div class="weight">вес: 200 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-102-new">
                                        <span class="price">150Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/102/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/102/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/102/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/new18.jpg")" title="Лава" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new18.jpg")" width="201" height="201" alt="Лава">
                </a>
                <h3 class="product-name">Лава</h3>
                <div class="description">
                    лосось, сыр “Креметте”, соус “Лава”
                </div>
                <div class="weight">вес: 210 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-102-new">
                                        <span class="price">225Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/102/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/102/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/102/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item last">
                <a href="@Url.Content("~/Files/new38.jpg")" title="Фьюжн" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new38.jpg")" width="201" height="201" alt="Фьюжн">
                </a>
                <h3 class="product-name">Фьюжн</h3>
                <div class="description">
                    лосось, краб снежный, манго, сыр “Креметте”
                </div>
                <div class="weight">вес: 210 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-102-new">
                                        <span class="price">225Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/102/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/102/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/102/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <script type="text/javascript">
            jQuery('.products-grid:last').addClass('last');
        </script>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect  : 'fade',
                closeEffect : 'fade',
                helpers     : {
                    title: {
                        type: 'outside'
                    }
                }
            });

            $('.nav-1 a').addClass('active');
        });
    </script>
}