@{
    ViewBag.Title = "Наборы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="col-main">
        <div class="std">
            <div class="clear"></div>
        </div>
        <div class="page-title">
            <h2 class="subtitle">New Products</h2>
        </div>
        <ul class="products-grid">
            <li class="item first">
                <a href="@Url.Content("~/Files/new52.jpg")" title="Мицукайдо" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new52.jpg")" width="201" height="201" alt="Dolor">
                </a>
                <h3 class="product-name">Мицукайдо</h3>
                <div class="description">
                    Набор на 4-5 персон состоит из 8 роллов: "Филадельфия лайт с тобико","Филадельфия лайт со снежным крабом","Цезарь", "Лава кусо", "Фудзюки", "Сяке маки", "Каппа маки", "Фикими"
                </div>
                <div class="weight">вес: 1435 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-102-new">
                                        <span class="price">1099Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/102/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/102/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/102/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/m_saniro.jpg")" title="Санииро" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/m_saniro.jpg")" width="201" height="201" alt="Санииро">
                </a>
                <h3 class="product-name">Санииро</h3>
                <div class="description">
                    Набор на 2 персоны состоит из 4 роллов: "Лава масаго сяке маки", "Лава масаго унаги маки", "Филадельфия маки", "Калифорния с огурцом"
                </div>
                <div class="weight">вес: 880 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">900Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/new51.jpg")" title="Танабата" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new51.jpg")" width="201" height="201" alt="Танабата">
                </a>
                <h3 class="product-name">Танабата</h3>
                <div class="description">
                    Набор на 3-4 персоны состоит из 6 роллов: "Филадельфия","Сяке кюри", "Пиро маки", "Фикими", "Юмикадо", "Тортилья с овощами"
                </div>
                <div class="weight">вес: 1175 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">1180Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item last">
                <a href="@Url.Content("~/Files/new54.jpg")" title="Кодо" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new54.jpg")" width="201" height="201" alt="Кодо">
                </a>
                <h3 class="product-name">Кодо</h3>
                <div class="description">
                    Набор на 2-3 персоны состоит из 5 роллов:"Васаби","Ясайский темпура","Калифорния темпурная", "Коррида", "Фьюжн"
                </div>
                <div class="weight">вес: 1020 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">950Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="products-grid">
            <li class="item first">
                <a href="@Url.Content("~/Files/_kayna.jpg")" title="Кайана" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/_kayna.jpg")" width="201" height="201" alt="Кайана">
                </a>
                <h3 class="product-name">Кайана</h3>
                <div class="description">
                    Набор на 2-3 персоны состоит из 5 роллов: "Лава масаго кунсей маки", "Филадельфия маки", "Сяке капа маки", "Сяке кунсей", "Юмаширо"
                </div>
                <div class="weight">вес: 865 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-102-new">
                                        <span class="price">880Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/102/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/102/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/102/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/naomy.jpg")" title="Наоми" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/naomy.jpg")" width="201" height="201" alt="Наоми">
                </a>
                <h3 class="product-name">Наоми</h3>
                <div class="description">
                    Набор 2-3 персоны состоит из 5 роллов: "Изуми Тай Томаго маки","Филадельфия с огурцом", "Сяке каппа маки", "Сяке тобико маки", "Йоко маки"
                </div>
                <div class="weight">вес: 950 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">950Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/1325000551.jpg")" title="Темпурный" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/1325000551.jpg")" width="201" height="201" alt="Темпурный">
                </a>
                <h3 class="product-name">Темпурный</h3>
                <div class="description">
                    Набор на 2-3 персоны состоит из 5 роллов: "Ясай-ский", "Цезарь жареный", "Ямагути", "Хисада", "Калифорния темпурная"
                </div>
                <div class="weight">вес: 1045 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">1100Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item last">
                <a href="@Url.Content("~/Files/_tottori.jpg")" title="Тоттори" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/_tottori.jpg")" width="201" height="201" alt="Тоттори">
                </a>
                <h3 class="product-name">Тоттори</h3>
                <div class="description">
                    Набор на 4-5 персон состоит из 9 роллов: "Филадельфия с копченым лососем","Ясай шитаки маки", "Тэкка маки", "Сяке маки", "Экико", "Мацури", "Оймикадо", "Тоси маки", "Унагуро"
                </div>
                <div class="weight">вес: 1545 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">1550Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="products-grid">
            <li class="item first">
                <a href="@Url.Content("~/Files/new49.jpg")" title="Токио" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new49.jpg")" width="201" height="201" alt="Токио">
                </a>
                <h3 class="product-name">Токио</h3>
                <div class="description">
                    Набор на 2-3 персоны состоит из 5 роллов: "Филадельфия", "Лава унаги","Юмикадо","Сяке маки", "Каппа маки"
                </div>
                <div class="weight">вес: 880 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-102-new">
                                        <span class="price">880Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/102/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/102/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/102/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/new55.jpg")" title="Тибо" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new55.jpg")" width="201" height="201" alt="Тибо">
                </a>
                <h3 class="product-name">Тибо</h3>
                <div class="description">
                    Набор на 3-4 персоны состоит из 5 роллов: "Лава унаги", "Лава кусо", "Калифорния", "Филадельфия", "Бонито сяке"
                </div>
                <div class="weight">вес: 1050 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">1100Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/new46.jpg")" title="Токумоно" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new46.jpg")" width="201" height="201" alt="Токумоно">
                </a>
                <h3 class="product-name">Токумоно</h3>
                <div class="description">
                    Набор на 3-4 персоны состоит из 6 роллов: "Филадельфия лайт с тобико", "Цезарь", "Лава кусо", "Фикими", "Сяке кюри", "Авокадо маки"
                </div>
                <div class="weight">вес: 1085 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">1000Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item last">
                <a href="@Url.Content("~/Files/new50.jpg")" title="Цукими" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new50.jpg")" width="201" height="201" alt="Цукими">
                </a>
                <h3 class="product-name">Цукими</h3>
                <div class="description">
                    Набор на 2-3 персоны состоит из 5 роллов: "Лава унаги", "Тортилья с овощами", "Сенсю", "Каппа маки", "Юмаширо"
                </div>
                <div class="weight">вес: 915 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">900Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="products-grid">
            <li class="item first">
                <a href="@Url.Content("~/Files/new47.jpg")" title="Юкигути" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new47.jpg")" width="201" height="201" alt="Юкигути">
                </a>
                <h3 class="product-name">Юкигути</h3>
                <div class="description">
                    Набор на 4-5 персон состоит из 10 роллов: "Лава сяке эби", "Калифорния", "Унаги люкс", "Мориока", "Набунага", "Сяке маки", "Каппа маки", "Авокадо маки", "Фьюжн", "Саимо"
                </div>
                <div class="weight">вес: 1725 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-102-new">
                                        <span class="price">1700Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/102/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/102/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/102/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/_hitoviy.jpg")" title="Хитовый" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/_hitoviy.jpg")" width="201" height="201" alt="Хитовый">
                </a>
                <h3 class="product-name">Хитовый</h3>
                <div class="description">
                    Набор на 4-5 персон состоит из 8 роллов: "Филадельфия", "Калифорния", "Сибата", "Юмаширо", "Лава сяке", "Ямагути", "Сяке маки", "Икура"
                </div>
                <div class="weight">вес: 1460 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">1800Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/new53.jpg")" title="Сиавасэ" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new53.jpg")" width="201" height="201" alt="Сиавасэ">
                </a>
                <h3 class="product-name">Сиавасэ</h3>
                <div class="description">
                    Набор на 4-5 персон состоит из 5 роллов и 9 сушек: "Калифорния", "Филаделифия с огурцом", "Лава люкс", "Хосака", "Юмаширо", "Унаги суши"- 3 шт, "Сяке суши" -3шт, "Эби суши" -3шт
                </div>
                <div class="weight">вес: 1349 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">1600Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item last">
                <a href="@Url.Content("~/Files/1392985106.jpg")" title="Тояма" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/1392985106.jpg")" width="201" height="201" alt="Тояма">
                </a>
                <h3 class="product-name">Тояма</h3>
                <div class="description">
                    Набор на 4-5 персон состоит из 9 роллов: "Экзотика", "Юмаширо", "Бонито магуро", "Текка маки", "Филадельфия классическая", "Калифорния", "Сяке кунсей маки", "Унаги маки", "Тортилья с лососем"
                </div>
                <div class="weight">вес: 1505 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">1600Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="products-grid">
            <li class="item first">
                <a href="@Url.Content("~/Files/morohira.jpg")" title="Морохира" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/morohira.jpg")" width="201" height="201" alt="Морохира">
                </a>
                <h3 class="product-name">Морохира</h3>
                <div class="description">
                    Набор на 5- 6 персон состоит из 10 роллов: "Сяке маки", "Сибата маки", "Азуки", "Юмаширо", "Сяке Фрай маки", "Аляска", "Йоко маки", "Тоси маки", "Сугай", "Каппа маки"
                </div>
                <div class="weight">вес: 1900 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-102-new">
                                        <span class="price">2000Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/102/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/102/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/102/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/kymatory.jpg")" title="Куматори" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/kymatory.jpg")" width="201" height="201" alt="Куматори">
                </a>
                <h3 class="product-name">Куматори</h3>
                <div class="description">
                    Набор на 4-5 персон состоит из 9 роллов: "Сибата маки", "Азуки", "Танака", "Юмаширо", "Сюзико", "Тоси маки", "Филадельфия с огурцом", "Сяке Фрай маки", "Темпура эби"
                </div>
                <div class="weight">вес: 1780 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">1800Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item">
                <a href="@Url.Content("~/Files/1325000551.jpg")" title="Вегетарианский" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/1325000551.jpg")" width="201" height="201" alt="Вегетарианский">
                </a>
                <h3 class="product-name">Вегетарианский</h3>
                <div class="description">
                    Набор на 2-3 персоны состоит из 5 роллов: "Капа-маки", "Емако маки" , "Ясай", "Амико", "Акито"
                </div>
                <div class="weight">вес: 890 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">600Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
            <li class="item last">
                <a href="@Url.Content("~/Files/new48.jpg")" title="Для двоих" class="product-image fancybox">
                    <img src="@Url.Content("~/Files/new48.jpg")" width="201" height="201" alt="Для двоих">
                </a>
                <h3 class="product-name">Для двоих</h3>
                <div class="description">
                    Набор на 2 персоны состоит из 4 роллов: "Филадельфия лайт со снежным крабом", "Лава кусо", "Филадельфия лайт с тобико", "Цезарь"
                </div>
                <div class="weight">вес: 815 грамм</div>
                <div class="price-block">
                    <div class="corner-right-top">
                        <div class="corner-left-bot">
                            <div class="corner-right-bot">
                                <div class="price-box">
                                    <span class="regular-price" id="product-price-100-new">
                                        <span class="price">800Р</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" title="Add to Cart" class="button btn-cart" onclick="setLocation(&#39;http://livedemo00.template-help.com/magento_37756/checkout/cart/add/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/product/100/&#39;)"><span><span>Add to Cart</span></span></button>
                <br class="clear">
                <div class="actions">
                    <ul class="add-to-links">
                        <li><a href="http://livedemo00.template-help.com/magento_37756/wishlist/index/add/product/100/" class="link-wishlist">Add to Wishlist</a></li>
                        <li><span class="separator">|</span> <a href="http://livedemo00.template-help.com/magento_37756/catalog/product_compare/add/product/100/uenc/aHR0cDovL2xpdmVkZW1vMDAudGVtcGxhdGUtaGVscC5jb20vbWFnZW50b18zNzc1Ni8,/" class="link-compare">Add to Compare</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <script type="text/javascript">
            jQuery('.products-grid:last').addClass('last');
        </script>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox({
                openEffect  : 'fade',
                closeEffect : 'fade',
                helpers     : {
                    title: {
                        type: 'outside'
                    }
                }
            });

            $('.nav-3 a').addClass('active');
        });
    </script>
}